{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="h-screen w-full bg-center bg-cover relative" style="background-image: url('../static/images/bgbg.jpg');">
        <div class="h-full w-full bg-black bg-opacity-70  overflow-y-auto backdrop-blur-sm">
            <div class="h-full w-full max-w-[1300px] px-4 mx-auto pt-24">
                <div class="h-full flex flex-col space-y-8 items-center pt-6  px-20">
                    <div class="w-full flex flex-col space-y-2 z-10">
                        <h1 class="text-red-200 font-bold text-2xl text-center">About Us</h1>
                        <div>
                            <p class="text-gray-300 font-light text-lg text-center">A web-based shoes store's "About Us" section should include information
about the company's history, core principles, and objectives.</p>
                        </div>
                    </div>
                    <div class="w-full flex flex-col space-y-2 z-10">
                        <h1 class="text-red-500 font-bold text-2xl text-center">Our Mission</h1>
                        <div>
                            <p class="text-gray-300 font-light text-lg text-center">To empower individuals to step forward confidently by offering an unparalleled selection of high-quality, stylish, and comfortable shoes for every occasion.</p>
                        </div>
                    </div>
                    <div class="w-full flex flex-col space-y-2 z-10">
                        <h1 class="text-red-200 font-bold text-2xl text-center">Vision</h1>
                        <div>
                            <p class="text-gray-300 font-light text-lg text-center" >To become the world's leading online destination for footwear, where every pair of shoes connects and inspires people to express their unique style, embrace their journey, and walk towards a more sustainable future.</p>
                        </div>
                    </div>
                    <div class="w-full flex flex-col space-y-2 z-10">
                        <h1 class="text-red-200 font-bold text-2xl text-center">Shoes Maryosep Advocacy</h1>
                        <div>
                            <p class="text-gray-300 font-light text-lg text-center">Creates an engaging and informative homepage for shoes store online
system by striking a balance between highlighting specials, promoting highlighted goods
quality of shoes, providing helpful material, and promoting community involvement.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}



