{% extends 'admin-layout.html' %}
{% load static %}

{% block content %}
<div class="pt-4">
    <div class="w-full h-[650px] max-w-[1300px] mx-auto px-4 py-4 pt-20">
        <div class="mb-5">
            <a href="{% url 'appliances_list' %}" class="rounded bg-white shadow px-3 py-1 flex items-center w-fit group">
                <i class='bx bx-chevron-left text-gray-400 group-hover:text-gray-600 text-2xl mr-1'></i>
                <span class="text-sm font-normal text-gray-400 group-hover:text-gray-600 pr-2">Back</span>
            </a>
        </div>

        <div class="mb-4 p-2 bg-gray-800 w-full">
            <h2 class="font-medium text-white">Add Product</h2>
        </div>

        <form action="{% url 'appliances_add' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex flex-col space-y-3">
                <div class="w-full flex flex-col z-10">
                    <label class="text-gray-600">Image</label>
                    <input type="file" name="images" class="rounded border border-gray-300 z-10 font-light px-4 py-2" multiple>
                </div>
                <!-- preview of images -->
                <div class="flex items-center flex-wrap gap-2">

                </div>

                <div class="w-full flex flex-col z-10">
                    <label class="text-gray-600">Name</label>
                    <input type="text" name="name" class="rounded border border-gray-300 z-10 font-light px-4 py-2" placeholder="">
                </div>
                <div class="w-full flex flex-col z-10">
                    <label class="text-gray-600">Description</label>
                    <textarea type="text" name="description" class="rounded border border-gray-300 z-10 font-light px-4 py-2" placeholder="Give some description..">
                    </textarea>
                </div>
                <div class="w-full flex flex-col z-10">
                    <label class="text-gray-600"></label>
                    <select type="text" name="category" class="rounded border border-gray-300 z-10 font-light px-4 py-2">
                        <option value="Nike">Nike</option>
                        <option value="Jordan">Jordan</option>
                        <option value="New Balance">New Balance</option>
                        <option value="loapers">Loapers</option>
                    </select>
                </div>
                <div class="w-full flex items-center space-x-4">
                    <div class="w-full flex flex-col z-10">
                        <label class="text-gray-600">Price</label>
                        <input type="number" name="price" class="rounded border border-gray-300 z-10 font-light px-4 py-2" placeholder="Price">
                    </div>
                    <div class="w-full flex flex-col z-10">
                        <label class="text-gray-600">Quantity</label>
                        <input type="number" name="quantity" class="rounded border border-gray-300 z-10 font-light px-4 py-2" placeholder="Quantity">
                    </div>
                </div>
            </div>
            <button type="submit" class="mt-4 px-4 py-2 rounded text-black bg-red-400">Save</button>
        </form>
    </div>
</div>
{% endblock %}
