{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Shoes Maryosep</title>
</head>
<body>
    <header class="fixed top-0 lef-o w-full z-30 backdrop-blur-sm">
        <div class="w-full max-w-[1300px] mx-auto px-4 py-4 border-b border-gray-400">
            <div class="w-full flex items-center justify-between">
                <div class="flex">
                    <h1 class="text-4xl text-center font-bold text-red-500">Shoes Maryosep</h1>
                </div>
                <nav class="flex">
                    <ul class="flex items-center space-x-8 text-white">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">About</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li>
                            <a href="{% url 'appliances' %}">Shoes</a>
                        </li>
                    </ul>
                </nav>
                <div class="flex items-center space-x-4 text-white">
                    <i class='bx bx-cart-alt text-xl text-red-400'></i>
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'appliances_list' %}" class="bg-red-400 text-gray-700 px-4 py-2 rounded">Admin</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>

    </footer>
</body>
</html>